$content-width : 75%;
$content-width-max-1024 : 90%;
$content-width-max-809 : 95%;
$content-width-max-770 : 100%;
$gray-variant1 : #ccc;
$gray-variant2: #EEE;
$gray-variant3 : #888;
$border-style : 1px solid $gray-variant1;